nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: auto;
}

nav ul li a{
    font-size: 2rem;
    text-decoration: none;
    color: blueviolet;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all 0.5s;
}

nav ul li a:hover{
    color: brown;
}